
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    height: 100px;
    margin: 0;
    padding: 0 20px ;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #36d1dc, #5b86e5);
}

#logobar {
    width: 20%;
    height: 100%;
    background-image: url("https://logos-world.net/wp-content/uploads/2021/03/Audi-Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#menubar {
    width: 500px;
    display: flex;              
    align-items: center;         
}

#menubar ol {
    list-style: none;
    display: flex;                
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
}

#menubar li {
    display: inline-block;
}

#menubar li a {
    text-decoration: none;
    color: rgb(7, 6, 6);
    font-weight: bold;
}

