*{
  background-color: red;
  margin:0px;
  padding:0px;
}
nav{
  height:100px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
div{
  height:auto;
  border:2px solid red;
  width:33.33%;
}
#logo{
  font-family:'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
  font-weight:bolder;
  color:white;
  font-size:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}
#menu1,#menu2{
  background-color:red;
  font-size:30px;
  color:white;
  font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
  font-weight:bolder;
  display:flex;
  align-items:center;
}
a:link{
  text-decoration:none;
  color:white;
}
a:hover{
  color:black;
}
ol{
  width:90%;
  list-style:none;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}
video{
  width:100%;
  height:100%;
}
#section2{
  height:600px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}
#div1,#div2,#div3{
  height:300px;
  width:400px;
  border-radius:20px;
  border:0px solid black;
  box-shadow:0 0 50px gray;
  transition:0.3s;
}
#img1,#img2,#img3{
  height:300px;
  width:400px;
  border-radius:20px;
}
h1{
  text-align:center;
  font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
  font-weight:bolder;
  font-size:40px;
  color:white;
  background-color:black;
}
footer{
  height:100px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  background-color:black;
}
#fimg1,#fimg2,#fimg3{
  height:95px;
  width:95px;
  border-radius:50%;
}
#fimg1 img,#fimg2 img,#fimg3 img{
  height:100px;
  width:100px;
  border-radius:50%;
}
