*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar{
    background-color: powderblue;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links{
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}
.h2{
   margin-top: 50px;
}