*{
    padding: 0;
    margin: 0;
}
.nav-bar{
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
}
.left{
    margin-left: 30px;
}
.right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    background-color: #FBEB12;
    font-weight: bolder;
}
.banner{
    width: 100%;
    margin: auto;
    height: 300px;
}
.banner img{
    width: 100%;
    height: 100%;
}
.products{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 80px auto;
}
.products img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.footer{
    padding: 20px;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    margin-top: 10px;
    color: gray;
    padding-left: 30px;
}
button{
    margin-top: 20px;
    height: 5vh;
    width: 10vw;
    background-color: orange;
    color: aliceblue;
    border-radius: 10px;
}
