*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;  
    padding: 10px 20px;
    height: 75px;
    width: 100%;
}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto 40px ;
    gap: 20px;
}
h1 center{
    margin-top: 50px;
}
.link{
    text-decoration: none;
}
.link:hover{
    color: rgb(45, 171, 176);
    text-decoration: underline;
}